In [11]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [13]:
df = pd.read_csv('DSP_13_eng.csv', sep=';')

In [14]:
df.head()

           0    1        2        3          4       5
0  symptoms   age  disease  height   medicines  health
1          1  NaN        0      170          2       0
2          1   65        0      NaN          3       0
3          1   55        0      182          4       0
4          1   44        0      187          3       0

In [4]:
df = df.rename(columns={'symptoms ':'symptoms', 'height ':'height'})

In [5]:
columns = ['symptoms', 'age', 'disease', 'height', 'medicines']

In [6]:
df = df[columns]

In [7]:
df = df.dropna()

In [8]:
rf_5 = RandomForestClassifier(max_depth = 5)

In [9]:
rf_8 = RandomForestClassifier(max_depth = 8)